[submodule "data/tennis_atp"]
	path = data/tennis_atp
	url = git@github.com:JeffSackmann/tennis_atp.git
[submodule "data/tennis_wta"]
	path = data/tennis_wta
	url = git@github.com:JeffSackmann/tennis_wta.git
